extends layout

block content
    .row
        .col-12.col-md-8
            .container
                .row
                .col
                .jumbotron
                    h1.text-center Chess Games - All
                    form(action='/chess/submitPlayer', method='POST')
                        select(name='selectedPlayer')
                            each participant in players
                                option(value=participant) #{participant}
                        input(type='submit', value='Submit')
                .row
                    h2.chosePlayers.username
                    .col
                        .table-responsive  
                            table.table.table-dark.table-sm.table-hover
                                thead
                                    tr
                                        th Game Number 
                                        th Rules
                                        th Rated
                                        th Time Class
                                        th White Result
                                tbody
                                
                                    each chosenPlayer in chosenPlayers
                                        tr
                                            each Game in chosenPlayer.games 
                                                tr
                                                    td  
                                                        a(href=Game.url)
                                                            #{Game.gameNum}
                                                    td #{Game.rules}
                                                    td #{Game.rated}
                                                    td #{Game.time_class}
                                                    td #{Game.whiteUsername + " " + Game.whiteResult}

