extends layout

block content
    .row
        .col-12.col-md-8
            .container
                .row
                .col
                .jumbotron
                    h1.text-center Chess Games
                form(action='/submitPlayer' + Submit, method='POST')
                    select(name='')
                        each player in players
                            option(value=player) #{player}
                    input(type='submit', value='Submit')
                    .row
                        h2.chosePlayers.username
                        .col
                            .table-responsive  
                            table.table.table-sm.table-hover
                                thead
                                    tr
                                        th Game Number
                                        th Rules
                                        th Rated
                                        th Time Class
                                        th White Result
                                tbody
                                
                                    each chosenPlayerGame in chosenPlayers
                                        tr
                                            each Game in chosenPlayerGame.games 
                                                tr
                                                    td #{Game.id}
                                                    td #{Game.rules}
                                                    td #{Game.rated}
                                                    td #{Game.time_class}
                                                    td #{Game.whiteUsername + " " + Game.whiteResult}

